body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.nav ul{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   padding-right: 288px;
   margin-top: -54px;
   padding-right: 287px;
   border-bottom-width: 2px;
border-bottom-style: solid;


}
.nav ul li{
    margin: 5px;
    padding: 10px;
    list-style: none;
    
}

.nav ul li a{
    text-decoration: none;
    color: rgb(0, 68, 152);
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition:0.5s ;
    
    
}
.nav logo{
    border-top-width: 0px;
    margin-left: 14px;
    padding-left: 14px;
}
.nav ul li a:hover{
    font-size: 17px;
    transition: 0.5s;
    color: #ffffff;
   
}

footer ul{
    display: flex;
    justify-content: end;
    align-items: end;
}
footer li{
    padding: 4px;
    margin: 4px;
    list-style: none;
}
footer h4{
    margin-bottom: -46.72px;
}

.form-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  .form{
    background-color: aliceblue;
    padding: 12px;
    margin: 50px;
    margin: 50px 380px 50px 380px;
    border-radius: 12px;
    
  }
  .btn{
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.5rem;
    font-size: medium;

    background-color: #4F46E5;
    color: #ffffff;
    text-transform: uppercase;
  }
  .em{
    padding: 5px 7px 5px 7px ;
    border-radius: 5px;
    box-shadow: #000;
    
  }
  